.price {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.price__header {
  display: flex;
  gap: 12px;
}

.price__value {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.price__value--has-discount {
  color: #6c757d;
  text-decoration: line-through;
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
